In [ ]:
""" 
 Using Programming Language of your choice (Java/Python/Scala), calculate the following metrics for each
 Country of Origins:
 1. Average price of product
 2. Share of five-star products

SQL Representation
     select avg(price), (sum(rating_five_count) / sum(rating_count)) * 100 as five_percentage, origin_country
     from summer_productsfive_percentage
     group by origin_country
     order by origin_country 
        avg          | five_percentage       | origin_country
 -------------------------------------------------------
  7                  |        null           | AT
  8.3418547854785479 | 48.500145666798023628 | CN
  9                  | 51.20967741935483871  | GB
  3.38               | 42.180365296803652968 | SG
  9.3970967741935484 | 49.575954103267647792 | US
  8.298              | 47.619047619047619048 | VE
  5.5494117647058824 | 36.985876144653111904 | null
 -------------------------------------------------------
  """

In [7]:
import pandas as pd

# Given file
file_csv = 'test-task_dataset_summer_products.csv'
data = pd.read_csv(file_csv)

In [3]:
avg_price = None
five_percentage = None
result = None

if 'origin_country' in data:
    grouped = data.groupby(['origin_country'])
    avg_price = grouped['price'].mean()
    
    if 'rating_five_count' and 'rating_count' in data:
        grouped_five_percentage = (grouped['rating_five_count'].sum() / grouped['rating_count'].sum()) * 100

result = pd.DataFrame({'price': data.groupby('origin_country')['price'].mean(),
                           'five_percentage': grouped_five_percentage})
        
result

                five_percentage     price
origin_country
AT                          NaN  7.000000
CN                    48.502862  8.341629
GB                    51.209677  9.000000
SG                    42.180365  3.380000
US                    49.575954  9.397097
VE                    47.619048  8.298000